body{
    background-color: cornflowerblue;
}
.panel{
    border: 5px solid rgba(255, 166, 0, 0.32);
    background-color: rgba(248, 191, 116, 0.982);
    box-shadow: 2px 2px 2px 4px rgba(58, 34, 34, 0.639);
    z-index: 1;
    width: 250px;
    height: 60px;
    text-align: center;
}
.header-text{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top:10px
    

}
.header{
    position: relative;
    top:50px;
    left: 498px;
}   


.gameboard{
    height: 300px;
    width: 300px;
    border: 5px solid rgba(255, 166, 0, 0.32);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding:50px;
    grid-column-gap:10px;
    grid-row-gap:10px;
    position:relative;
    left:420px;
    top:30px;
    background-color: rgba(248, 191, 116, 0.982);
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
    box-shadow: 10px 10px 10px 10px rgba(38, 20, 20, 0.683);
}

.gamecircle{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 50%;
}

.player_0{
    background-color: white;
}

.player_1{
    background-color: blue;
}

.player_2{
    background-color: red;
}


button{
    position: relative;
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    top: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 0px;
    justify-self: center;
}
button:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.footer{
    position: relative;
    left: 498px;
    top:45px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}